/* general styles */

body {
    margin: 0;
    height: 100vh;
    max-height: 100%;
}

.max-height {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(./img/man-silhouette-walking-person-cloud-people-674034-pxhere.com.jpg);
    background-position: center;
    background-size: cover;
}


/* style current player headline */

.headlines {
    display: flex;
    justify-content: center;
}

.images-header {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-left: 16px;
}

.headlines>h1 {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
}


/* style the game field */

.row {
    display: flex;
}

.caskets {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 1px solid black;
}

.caskets:hover {
    cursor: pointer;
}


/* underlines the active player! */

.underlined {
    text-decoration: underline;
}


/* set cross or circle img */

.set-icon-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    animation: animate 0.5s ease;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.winner-icons {
    background-color: deepskyblue;
    transition: 1s ease-in-out;
}

.winner {
    animation: rotate 1s linear;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@media (max-width: 400px) {
    .headlines {
        flex-direction: column;
        align-items: center;
    }
}